@keyframes icons-rotate {
    0% {
        transform: rotate(0deg);
        opacity: 1;
    }
    50% {
        opacity: 0.4;
    }
    100% {
        transform: rotate(360deg);
        opacity: 1;
    }
}

.material-icons {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    vertical-align: sub;

    &.icons-close {
        background-image: url(img/icons-close.svg);
    }

    &.icons-loading {
        background-image: url(img/icons-loading.svg);
        animation: icons-rotate 2s infinite;
    }
}
