@import "config.scss";
@import "root.scss";
@import "modal.scss";
@import "message.scss";
@import "icon.scss";

// ===== ELEMENT =====
.header {
    height: 60px;
    line-height: 60px;
    display: flex;
    justify-content: space-between;
    flex: 1;
    padding: 0 20px;
    border-bottom: 1px solid #111;

    .logo {
        width: 54px;
        height: 54px;
        line-height: 54px;
    }

    .title {
        flex: 1;
        text-align: left;
        padding-left: 20px;
        font-size: 1.4rem;
        font-weight: bold;
    }

    .user {
        display: flex;
        align-items: center;

        .info {
            display: none;

            .email {
                margin-right: 15px;
                opacity: 0;
            }

            &:hover {
                .email {
                    opacity: 1;
                }
            }

            @include w-md {
                display: flex;
            }
        }

        .functions {
            padding-left: 10px;
        }
    }
}
.btn {
    &.btn_style1 {
        color: #fff;
        background-color: #000;

        &:hover {
            color: #fff;
            background-color: #aaa;
            border-color: #aaa;
        }
    }

    &.btn_style2 {
        background: #fff;
        color: #000;
    }

    &.btn_style3 {
        background: transparent;
        color: #000;

        &:hover {
            box-shadow: #eeeeee 3px 3px 5px;
        }
    }
}

.radio_item {
    display: inline-block;

    span {
        display: inline-block;
        border: 3px solid #bbb;
        border-radius: 6px;
        padding: 4px 10px;
    }

    input {
        width: 100%;
        height: 100%;
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        cursor: pointer;

        &:checked + span {
            border-color: rgb(75, 192, 7);
        }
    }

    & + .radio_item {
        margin-left: 8px;
    }
}
// ===== ELEMENT : END =====

// ===== BLOCK =====
[class$="_block"] {
    margin-bottom: 1.5rem;
    position: relative;

    > .block_title {
        padding-top: 14px;
        padding-bottom: 20px;
        font-size: 2rem;
        text-align: center;
        letter-spacing: 3px;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

.gaming_block {
    & > .block_title {
        & > .functions {
            text-align: right;
        }
    }

    & > .block_content {
        .gaming_title {
            display: flex;
            justify-content: space-between;
            font-size: 2rem;
            margin-bottom: 20px;

            .name {
                flex: 1;
                text-align: left;
            }

            & > .functions {
                text-align: right;
            }
        }

        .gaming_room_info {
            text-align: left;
            padding: 15px 0;
            border-top: 1px solid #ccc;
            border-bottom: 1px solid #ccc;

            p {
                margin-bottom: 0.5rem;
            }

            .roomState {
                &::before {
                    content: "";
                    display: inline-block;
                    width: 10px;
                    height: 10px;
                    background: #000;
                    border-radius: 30px;
                    line-height: inherit;
                    margin-right: 6px;
                    margin-bottom: 2px;
                }

                &[data-state="Waiting"]::before {
                    background: #1ee81b;
                }

                &[data-state="Start"]::before {
                    background: #ecde34;
                }

                &[data-state="End"]::before {
                    background: #ef1717;
                }
            }
        }

        .gaming_info {
            display: flex;

            & > * {
                flex: 1;
                padding: 0 10px;
            }
        }
    }
}
// ===== BLOCK =====

// ===== BOX =====
[class$="_box"] {
    margin-bottom: 1.5rem;
    position: relative;

    > .box_title {
        padding-top: 14px;
        padding-bottom: 20px;
        font-size: 1.8rem;
        text-align: center;
        letter-spacing: 2px;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

.gamer_self_box {
    text-align: left;

    & > .box_mask {
        & ~ * {
            display: none;
        }
    }

    & > .box_content {
        > ul {
            list-style: none;
            padding: 0;
        }
    }

    & > .box_bottom {
        .functions {
            .btn {
                width: 51%;
                margin-bottom: 8px;
            }
        }
    }

    & > .gamer_result {
        min-width: 100px;
        padding: 20px 10px;
        border-radius: $radius1;
        color: #fff;
        font-size: 1rem;
        text-align: center;

        &[data-result="winner"] {
            background: #5cda3c;
        }

        &[data-result="loser"] {
            background: #3c2727;
        }
    }
}

.game_list_box {
    & > .box_title {
        border-bottom: 1px solid #ccc;
    }

    & > .box_content {
        > .functions {
            padding-top: 14px;
            padding-bottom: 14px;
            display: flex;
            border-bottom: 1px solid #ccc;

            & > .btn {
                flex: 1;
                margin-right: 6px;

                &:last-child {
                    margin-right: 0;
                }
            }
        }
        .add_game_room {
            padding-top: 14px;
            padding-bottom: 14px;
            border-bottom: 1px solid #ccc;

            .btn {
                width: 100%;
            }
        }

        .list_filter {
            padding: 20px 0;
            margin-bottom: 20px;
            border-bottom: 1px solid #ccc;
        }
    }

    ul {
        padding: 0;
        list-style: none;
        max-height: calc(100vh - 420px);
        overflow: auto;
    }

    & > .loading_item {
        min-height: 500px;
    }
} // game_list_box

.form_box {
    & > .box_content {
        padding: 5px 0 20px;
    }

    & > .box_bottom {
        .btn {
            width: 100%;
            margin-bottom: var(--margin-bottom);
        }
    }
} // form_box
// ===== BOX : END =====

// ===== ITEM : START =====
[class$="_item"] {
    margin-bottom: var(--margin-bottom);
    position: relative;

    > .item_title {
        padding-top: 8px;
        padding-bottom: 14px;
        font-size: 1.2rem;
        letter-spacing: 1px;
    }
}

.gamer_info_item {
    display: flex;
    align-items: center;
    border-radius: $radius1;
    width: 100%;
    box-shadow: #0000004d 0px 19px 38px, #00000038 0px 15px 12px;

    & > .item_title {
        padding: 0;

        .gamer_ready {
            min-width: 100px;
            padding: 20px 10px;
            border-top-left-radius: $radius1;
            border-bottom-left-radius: $radius1;
            background: #d04975;
            color: #fff;
            font-size: 1rem;

            &[data-ready] {
                background: #289430;
            }
        }

        .gamer_result {
            min-width: 100px;
            padding: 20px 10px;
            border-top-left-radius: $radius1;
            border-bottom-left-radius: $radius1;
            color: #fff;
            font-size: 1rem;

            &[data-result="winner"] {
                background: #5cda3c;
            }
            &[data-result="loser"] {
                background: #3c2727;
            }
        }
    }

    & > .item_content {
        padding: 0 10px;
        width: 100px;
        flex: 1;

        p {
            margin: 0;
        }
    }
} // gamer_info_item

.room_list_item {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 14px 8px 14px 14px;

    & > .item_title {
        display: flex;
        justify-content: space-between;

        .info {
            max-width: calc(100% - 60px);
        }
        .name {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            max-width: 100%;
            font-size: 1.2rem;
            font-weight: bold;
        }

        .roomState {
            font-size: 0.6rem;
            text-align: left;

            &::before {
                content: "";
                display: inline-block;
                width: 8px;
                height: 8px;
                background: #000;
                border-radius: 30px;
                line-height: inherit;
                margin-right: 6px;
            }

            &[data-state="Waiting"]::before {
                background: #1ee81b;
            }

            &[data-state="Start"]::before {
                background: #ecde34;
            }

            &[data-state="End"]::before {
                background: #ef1717;
            }
        }

        .function {
            min-width: 60px;

            .btn {
                height: 100%;
            }
        }
    }

    & > .item_content {
        border-top: 1px solid #ccc;
        margin-top: 10px;
        padding-top: 12px;
        text-align: left;
        display: none;

        .info {
            margin-bottom: 0.4rem;
        }
    }

    & > .item_bottom {
        display: none;
    }

    &[data-open] {
        & > .item_content {
            display: block;
        }

        & > .item_bottom {
            display: block;
        }
    }
} // room_list_item

.loading_item {
    width: 100%;
    height: 100%;
    // height: 50vh;
    min-height: inherit;
    text-align: center;
    background: #fff7f7;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;

    &[type="web"] {
        position: fixed;
        left: 0;
        top: 0;
        height: 100vh;
        width: 100vw;
        background: #fafff7;
        z-index: 200;
    }

    & ~ * {
        .loading_item {
            display: none;
        }
    }

    & + * {
        display: none;
        opacity: 0;
    }

    > .item_content {
        display: block;
        width: 100%;
        line-height: 26px;
        position: absolute;
        top: calc(50% - 142px);

        .loading_animation {
            height: 80px;
            margin-bottom: 20px;

            @mixin infinite_animation(
                $animationName,
                $color1,
                $color2,
                $color3,
                $color4,
                $color5,
                $isEven: false
            ) {
                $maxhight: 100%;
                $minhight: 30%;
                @keyframes #{$animationName} {
                    0% {
                        background-color: #{$color1};
                        @if $isEven == true {
                            height: #{$maxhight};
                        } @else if $isEven == false {
                            height: #{$minhight};
                        }
                    }
                    20% {
                        background-color: #{$color2};
                    }
                    40% {
                        background-color: #{$color3};
                    }
                    50% {
                        @if $isEven == true {
                            height: #{$minhight};
                        } @else if $isEven == false {
                            height: #{$maxhight};
                        }
                    }
                    60% {
                        background-color: #{$color4};
                    }
                    80% {
                        background-color: #{$color5};
                    }
                    100% {
                        background-color: #{$color1};
                        @if $isEven == true {
                            height: #{$maxhight};
                        } @else if $isEven == false {
                            height: #{$minhight};
                        }
                    }
                }

                animation-name: #{$animationName};
                animation-duration: 6s;
                animation-iteration-count: infinite;
            }

            span {
                padding: 0 5px;
                height: inherit;
                line-height: 80px;

                &:before {
                    content: "";
                    display: inline-block;
                    width: 12px;
                    height: inherit;
                    background: #66666655;
                    border-radius: 20px;
                    vertical-align: middle;
                }

                &.l1:before {
                    @include infinite_animation(
                        "loading_l1",
                        "#ff002f",
                        "#9100ff",
                        "#00f3ff",
                        "#33ff00",
                        "#ffe000"
                    );
                }

                &.l2:before {
                    @include infinite_animation(
                        "loading_l2",
                        "#9100ff",
                        "#00f3ff",
                        "#33ff00",
                        "#ffe000",
                        "#ff002f",
                        true
                    );
                }

                &.l3:before {
                    @include infinite_animation(
                        "loading_l3",
                        "#00f3ff",
                        "#33ff00",
                        "#ffe000",
                        "#ff002f",
                        "#9100ff"
                    );
                }

                &.l4:before {
                    @include infinite_animation(
                        "loading_l4",
                        "#33ff00",
                        "#ffe000",
                        "#ff002f",
                        "#9100ff",
                        "#00f3ff",
                        true
                    );
                }

                &.l5:before {
                    @include infinite_animation(
                        "loading_l5",
                        "#ffe000",
                        "#ff002f",
                        "#9100ff",
                        "#00f3ff",
                        "#33ff00"
                    );
                }
            }
        }

        p {
            font-size: 1.5rem;
            font-weight: bold;
            letter-spacing: 4px;
        }
    }
} // loading_item

.fill_item {
    // @include w-lg() {
    //     text-align: left;
    // }
    font-size: 1rem;
    margin-bottom: var(--margin-bottom);

    .item_input {
        margin-bottom: 0;
        padding-bottom: 2px;
        position: relative;
        line-height: 32px;

        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 1px;
            bottom: 0;
            left: 0;
            right: 0;
            pointer-events: none;
            background: #000;
        }

        .placeholder {
            color: #444;
            pointer-events: none;
            -webkit-user-select: none;
            user-select: none;
            background: transparent;
            line-height: 42px;
            overflow: hidden;
            padding-left: 8px;
            position: absolute;
            width: 100%;
            height: 100%;
            bottom: 0;
            left: 0;
            opacity: 1;
            z-index: -1;
            text-overflow: ellipsis;
        }

        &:focus-within {
            .placeholder {
                opacity: 0;
            }

            &::after {
                transform: scale(1, 1.3);
            }
        }

        &:hover {
            &::after {
                transform: scale(1, 1.3);
            }
        }
    }

    input,
    input:active,
    input:focus,
    input:focus-within,
    input:hover,
    textarea,
    textarea:active,
    textarea:focus,
    textarea:focus-within,
    textarea:hover {
        width: 100%;
        border: none;
        box-shadow: none;
        background-color: transparent;
        cursor: inherit;
        outline: none;
        padding: 0 0 0 8px;
        resize: none;
    }

    input,
    textarea {
        font-size: 1rem;
        width: 100% !important;
        vertical-align: text-top;
        resize: none;
        // &.error {
        // }
    }

    textarea {
        height: 120px;
    }

    .error {
        color: red;
        width: 100%;
        height: 14px;
        font-size: 0.8rem;
        line-height: 12px;
        padding-left: 8px;
        position: absolute;
        bottom: -14px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        user-select: none;
        -webkit-user-select: none;
        text-align: left;
    }

    select,
    select:active,
    select:focus,
    select:focus-within,
    select:hover {
        border: none;
        box-shadow: none;
        padding: 0 0 0 8px;
    }
} // fill_item

.split_item {
    width: 100%;
    position: relative;
    text-align: center;
    background: #fff;
    margin-bottom: 20px;
    user-select: none;

    &::before {
        content: "";
        border-top: 1px solid #000;
        height: 1px;
        width: 100%;
        position: absolute;
        top: 50%;
        display: block;
    }

    > .item_content {
        display: inline-block;
        background: inherit;
        position: relative;
        padding: 10px 60px;
        font-size: 28px;

        span {
            letter-spacing: 5px;
        }
    }
} // split_item
// ===== ITEM : END =====
